name: Output Information
on: workflow_dispatch
jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - name: Output Message
        run: echo "${ toJSON (GITHUB_WORKFLOW)} workflow has been triggered!"
